body{
    margin: 0;
    padding: 0;
    background: url(https://images.unsplash.com/photo-1519449063122-df59c9231245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80) no-repeat;
    background-size: cover;
}
nav{
    background-color: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    width: auto;
    height: 100px;
    margin: 0;
    padding: 0;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100px;
    margin-bottom: 16px;
    text-align: center;
}
.navbar ul li{
    display: block;
    float: left;
    margin: 0;
    padding: 0 30px 0 30px;
}
.navbar ul li a{
    color: white;
    font-family: 'Century Gothic', sans-serif;
    text-decoration: none;
    font-size: 30px;
}
.box{
    width: 600px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0), 0 3px 18px 0 rgba(0, 0, 0);
    padding: 40px;

    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%;
    height:250px;
    width: 250px;
}
.box h1{
    margin: 15px 0;
    font-size:40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5 p{
    margin: 4px 0;
    padding: 0;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 200;
}
#about{
    text-align:center;
    letter-spacing: 1px;
    word-spacing: 2px;
}
ul{
    margin: 0 8px;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: teal;
}
